{% extends "../layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block contentBody %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      {{ productName }}
    </h1>
      <p class="govuk-body" id="description">
      {{ productDescription | striptags(true) | escape | nl2br }}
    </p>

    <form action="/pay/reference/{{ productExternalId }}" method="post" name="referencePaymentForm" class="push-bottom" data-validate>
      <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>

      {{ govukInput({
        label: {
          text: paymentReferenceLabel,
          classes: "govuk-!-font-weight-bold"
        },
        hint: {
          text: paymentReferenceHint
        },
        id: "payment-reference",
        name: "payment-reference",
        classes: "govuk-!-width-one-third",
        value: referenceNumber,
        attributes: {
          autofocus: "",
          maxlength: "255",
          "data-validate": "isNaxsiSafe",
          "data-validate-max-length": "255"
        }
      }) }}
      {{ govukButton({
        text: __p('buttons.continue')
      }) }}
    </form>
  </div>
</div>
{% endblock %}
