{% extends "../layout.njk" %}

{% block page_title %}
  {{ serviceName }}
{% endblock %}

{% block main_content %}
  <h1 class="heading-large page-title">
    {{ productName }}
  </h1>
  <p id="description">
    {{ productDescription | striptags(true) | escape | nl2br }}
  </p>

  <form action="/pay/reference/{{ productExternalId }}" method="post" name="referencePaymentForm" class="push-bottom">
    <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>
    <div class="form-group">
      <label id="payment-reference-label" class="form-label form-label-bold" for="payment-reference">
        {{ paymentReferenceLabel }}
        {% if paymentReferenceHint %}
          <span id="payment-reference-hint" class="form-hint">{{ paymentReferenceHint }}</span>
        {% endif %}
      </label>
      <input class="form-control"
             aria-label=""
             name="payment-reference"
             type="text"
             id="payment-reference"
             value=""
             autofocus=""
             data-validate="required field"/>
    </div>
    <button type="submit" class="button">
      Continue
    </button>
  </form>
{% endblock %}
