{% extends "../views/layout.njk" %}

{% block pageTitle %}
{{ __p('failed.title') }} - {{serviceName}} - GOV.UK Pay
{% endblock %}

{% block contentBody %}
<h2 class="heading-medium">{{ __p('failed.title') }}</h2>
<p>
  {{ __p('failed.body') }}
</p>
<p>
  <div id="restart-payment">
    <a href="{{backToStartPage}}">{{ __p('failed.tryAgain') }}</a>
  </div>
</p>
{% endblock %}
