{% block flash %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if flash.genericError %}
      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
        {{ flash.genericError | safe }}
      </div>
    {% endif %}
    {% if flash.generic %}
      <div class="notification generic-flash">
        {{ flash.generic | safe }}
      </div>
    {% endif %}
 </div>
</div>

{% if captchaChallengeFailed %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li>
            You must select "I am not a robot" before proceeding to payment
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
