{% extends "../../views/layout-payment-links-v2.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "../../views/macros/error-summary.njk" import errorSummary %}

{% block pageTitle %}
  {{ __p('paymentLinksV2.referenceConfirm.areYouSureThisIsAValid') }} {{product.reference_label}}  - {{ productName }}
{% endblock %}

{% block contentBody %}
  <p class="govuk-body">Reference Confirm page - placeholder text</p>
{% endblock %}
