{% extends "../../views/layout-payment-links-v2.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}
  {{ __p('paymentLinksV2.referenceConfirm.areYouSureThisIsAReferenceNumber') }}  - {{ productName }}
{% endblock %}

{% block contentBody %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l" data-cy="product-name">{{ productName }}</h1>  

    {% if productDescription %}
      <p class="govuk-body" data-cy="description">{{ productDescription }}</p>
    {% endif %}

    <h2 class="govuk-heading-m" data-cy="reference-label">{{ paymentReferenceLabel | capitalize }}</h2>

    {% if paymentReferenceHint %}
      <p class="govuk-hint" data-cy="reference-hint">{{ paymentReferenceHint }}</p>    
    {% endif %}

    {{ govukInsetText({
      text: reference,
      classes: "govuk-!-font-weight-bold",
      attributes: { 'data-cy': 'reference' }
    }) }}


    <h2 class="govuk-heading-m">{{ __p('paymentLinksV2.referenceConfirm.areYouSureThisIsAReferenceNumber') }}</h2>

    <p class="govuk-body">{{ __p('paymentLinksV2.referenceConfirm.checkYouveEnteredTheNumberCorrectly') }}</p>

    <div class="govuk-button-group">
      {{ govukButton({
        text: __p('paymentLinksV2.referenceConfirm.confirmAndContinue'),
        href: confirmAndContinuePageUrl,
        attributes: { 'data-cy': 'confirm-button' }
      }) }}

      {{ govukButton({
        text: __p('paymentLinksV2.referenceConfirm.edit'),
        href: referencePageUrl,
        classes: 'govuk-button--secondary',
        attributes: { 'data-cy': 'edit-button' }
      }) }}
    </div>
  </div>  
</div>
{% endblock %}
