{% extends "../../views/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "../../views/macros/error-summary.njk" import errorSummary %}

{% block pageTitle %}
  {{ __p('paymentLinks.start.title') }} - {{ product.name }}
{% endblock %}

{% block contentBody %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l" data-cy="heading-caption">{% if service.organisationName %}{{ service.organisationName }}{% else %}{{ serviceName }}{% endif %}</span>
    <h1 class="govuk-heading-l">{{ product.name }}</h1>

    {% if product.description %}
    <div data-cy="product-description">{{ product.description | striptags(true) | formatMarkdown | safe }}</div>
    {% endif %}
  
    {{ govukButton({
      text: __p('buttons.continue'),
      href: continueUrl,
      attributes: { 'data-cy': 'button' }
    }) }}
  </div>
</div>
{% endblock %}
