{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set summaryElementsList = [] %}

{% if canChangeReference %}
  {% set referenceAction = {
      items: [{
        href: replaceParamsInPath(routes.paymentLinks.reference, product.externalId) + "?change=true",
        text: __p('paymentLinks.confirm.change'),
        visuallyHiddenText: productReferenceLabel
      }]  
    }
  %}
{% endif %}

{% if productReferenceLabel %}
  {% set referenceSummaryElement = {
    key: {
      text: productReferenceLabel 
    },
    value: {
      text: sessionReferenceNumber
    },
    actions: referenceAction
  } %}

  {% set summaryElementsList = (summaryElementsList.push(referenceSummaryElement), summaryElementsList) %}
{% endif %}

{% if canChangeAmount %}
  {% set amountAction = {
      items: [{
        href: replaceParamsInPath(routes.paymentLinks.amount, product.externalId) + "?change=true",
        text: __p('paymentLinks.confirm.change'),
        visuallyHiddenText: __p('paymentLinks.confirm.totalToPay')
      }]  
    }
  %}
{% endif %}

{% set amountSummaryElement = {
    key: {
      text: __p('paymentLinks.confirm.totalToPay')
    },
    value: {
      text: amountAsGbp
    },
    actions: amountAction
  } 
%}

{% set summaryElementsList = (summaryElementsList.push(amountSummaryElement), summaryElementsList) %}

{{ govukSummaryList({
  attributes: { 'data-cy': 'summary-list'},
  rows: summaryElementsList
}) }}
