{% extends "../../views/layout.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../views/macros/error-summary.njk" import errorSummary %}

{% block bodyEnd %}
  {{ super() }}
  {% if requireCaptcha %}
    {% set googleRECAPTCHASiteWidgetUrl = "https://www.recaptcha.net/recaptcha/enterprise.js" if GOOGLE_RECAPTCHA_USE_ENTERPRISE_VERSION else "https://www.recaptcha.net/recaptcha/api.js" %}
    <script src="{{ googleRECAPTCHASiteWidgetUrl }}" async defer></script>
  {% endif %}
{% endblock %}

{% block pageTitle %}
  Confirm  - {{ productName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: __p('paymentLinks.common.back'),
    href: backLinkHref,
    attributes: {
      'data-cy': 'back-link'
    }
  }) }}
{% endblock %}

{% block contentBody %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ errorSummary ({
        titleText: __p("paymentLinks.common.thereIsAProblem"),
        errors: errors
      }) }}

      <h1 class="govuk-heading-l" data-cy="product-name">{{ productName }}</h1>

      <h2 class="govuk-heading-m" data-cy="reference-label">{{ __p('paymentLinks.confirm.checkYourDetails') }}</h2>

      {% include "./_summary-list.njk" %}

      <form method="post" data-cy="form" novalidate>
        <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>

        {% if productReferenceLabel %}
           <input id="reference-value" name="reference-value" type="hidden" value="{{ sessionReferenceNumber }}" />
        {% endif %}

        <input id="amount" name="amount" type="hidden" value="{{ amountAsPence }}" />

        {% if requireCaptcha %}
          <div class="g-recaptcha govuk-!-margin-bottom-5" data-sitekey="{{ GOOGLE_RECAPTCHA_SITE_KEY }}"></div>
        {% endif %}

        {{ govukButton({
          text:  __p('paymentLinks.confirm.continueToPayment'),
          attributes: { 'data-cy': 'continue-to-payment-button' }
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
