{% extends "../layout.njk" %}

{% block page_title %}
  {{serviceName}}
{% endblock %}

{% block main_content %}
<h1 class="heading-large page-title">
  {{productName}}
</h1>
<p id="description">
  {{productDescription}}
</p>

<form action="/pay/{{productExternalId}}" method="post" name="startPaymentForm" class="push-bottom">
<input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
<input type="submit" class="button" value="Continue">
</form>
{% endblock %}
