{% extends "../layout.njk" %}

{% block page_title %}
  Adhoc payments
{% endblock %}

{% block main_content %}
<h1 class="heading-large">
  Pay for Lock and Weir fishing permit
</h1>
<p>
  Once you have successfully paid, you will receive a payment reference number as proof of payment. Your application will be processed within 10 days.
</p>

<a href="/adhoc-amount" class="button">Continue</a>
{% endblock %}
