{% extends "../layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}After a successful payment - GOV.UK Pay{% endblock %}

{% block contentBody %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">After a successful payment</h1>
    <p class="govuk-body scenario-description">The user will be directed back to your service where you should show a confirmation page.</p>
    <p class="govuk-body"><a class="govuk-link scenario-docs-link" href="{{scenarioDocsLink}}">See how to create a confirmation page in our documentation</a></p>

    <h2 class="govuk-heading-m error-page-header">This is an example confirmation page</h2>
    <img class="govuk-!-margin-bottom-5" src="{{exampleImgSrc}}"/>

    <p class="govuk-body transactions-prompt">You can now view this payment in your transactions list on GOV.UK Pay.</p>

    {{ govukButton({
      text: "Go to transactions",
      href: transactionsLink,
      classes: "transactions-link",
      id: "prototyping__go-to-transactions"
    }) }}
  </div>
</div>
{% endblock %}
