{% extends "../layout.njk" %}

{% block page_title %}After a successful payment - GOV.UK Pay{% endblock %}

{% block main_content %}
  <h1 class="page-title">After a successful payment</h1>
  <p class="scenario-description">The user will be directed back to your service where you should show a confirmation page.</p>
  <a class="scenario-docs-link" href="{{scenarioDocsLink}}">See how to create a confirmation page in our documentation</a>

  <h2 class="heading-medium error-page-header">This is an example confirmation page</h2>
  <img class="example-page" src="{{exampleImgSrc}}"/>

  <p class="transactions-prompt">You can now view this payment in your transactions list on GOV.UK Pay.</p>

  <a id="prototyping__go-to-transactions" class="button transactions-link" href="{{transactionsLink}}">Go to transactions</a>
{% endblock %}
