{% extends "../../views/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "../../views/macros/error-summary.njk" import errorSummary %}

{% block pageTitle %}
  {{ __p('paymentLinks.amount.enterAmountToPay') }} - {{ productName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: __p('paymentLinks.common.back'),
    href: backLinkHref,
    attributes: {
      'data-cy': 'back-link'
    }
  }) }}
{% endblock %}

{% block contentBody %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ errorSummary ({
      titleText: __p("paymentLinks.common.thereIsAProblem"),
      errors: errors,
      hrefs: {
        'payment-amount': '#payment-amount'
      }
    }) }}

    <form method="post">
      <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>

      {{ govukInput({
        id: "payment-amount",
        name: "payment-amount",
        errorMessage: { 
          text: errors['payment-amount'],
          attributes: { 'data-cy': 'error-message'}
        } if errors['payment-amount'] else false,
        label: {
          text: __p('paymentLinks.amount.enterAmountToPay'),
          classes: "govuk-label--l",
          isPageHeading: true,
          attributes: { 'data-cy': 'label' }
        },
        hint: {
          html: product.amountHint | striptags(true) | escape | nl2br if product.amountHint else false
        },
        value: amount,
        prefix: {
          text: "£"
        },
        classes: "govuk-input--width-5",
        attributes: { 'data-cy': 'input' }
      }) }}
      
      {{ govukButton({
        text: __p('buttons.continue'),
        attributes: { 'data-cy': 'button' }
      }) }}
    </form>
  </div>
</div>
{% endblock %}
