{% extends "../layout.njk" %}

{% block pageTitle %}
Your payment was successful - {{serviceName}} - GOV.UK Pay
{% endblock %}

{% block contentBody %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h2 class="govuk-panel__title">
        Your payment was successful
      </h2>
      <div class="govuk-panel__body">
        Your payment reference number is <br>
        <strong class="bold" id="payment-reference">{{ payment.reference }}</strong>
      </div>
    </div>

    <h2 class="govuk-heading-m govuk-!-margin-top-6">What happens next</h2>
    <p class="govuk-body">
      We have sent you a confirmation email.
    </p>

    <h2 class="govuk-heading-m">Payment summary</h2>

    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row">Payment for:</td>
          <td class="govuk-table__cell">{{serviceName}}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row">Total amount:</td>
          <td class="govuk-table__cell" id="payment-amount">{{payment.amount}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
