{% extends "../layout.njk" %}

{% block pageTitle %}
{{ __('failed.title') }} - {{serviceName}} - GOV.UK Pay
{% endblock %}

{% block contentBody %}
<h2 class="heading-medium">{{ __('failed.title') }}</h2>
<p>
  {{ __('failed.body') }}
</p>
<p>
  <div id="restart-payment">
    <a href="{{backToStartPage}}">{{ __('failed.tryAgain') }}</a>
  </div>
</p>
{% endblock %}
