{% extends "../layout.njk" %}

{% block pageTitle %}
Your payment has been declined - {{serviceName}} - GOV.UK Pay
{% endblock %}

{% block contentBody %}
<h2 class="heading-medium">Your payment has been declined</h2>
<p>
  Contact your bank for more details. No money has been taken from your account.
</p>
<p>
  <div id="restart-payment">
    <a href="{{backToStartPage}}">Go back to try the payment again</a>
  </div>
</p>
{% endblock %}
