{% extends "../../views/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "../../views/macros/error-summary.njk" import errorSummary %}

{% block pageTitle %}
  {{ heading }}  - {{ productName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: __p('paymentLinks.common.back'),
    href: backLinkHref,
    attributes: {
      'data-cy': 'back-link'
    }
  }) }}
{% endblock %}

{% block contentBody %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% set hintHtml %}
      <p class="govuk-body">{{ __p('paymentLinks.referenceConfirm.checkYouveEnteredTheNumberCorrectly') }}</p>

      {{ govukInsetText({
        text: reference,
        classes: "govuk-!-font-weight-bold",
        attributes: { 'data-cy': 'reference' }
      }) }} 
    {% endset %}

    {{ errorSummary ({
      titleText: __p("paymentLinks.common.thereIsAProblem"),
      errors: errors,
      hrefs: {
        'confirm-reference': '#confirm-reference'
      }
    }) }}

    {% set radioErrorMessage = { text: errors['confirm-reference'], attributes: { 'data-cy': 'error-message'} } if errors['confirm-reference'] %}  

    <form method="post" novalidate>
      <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>

      {{ govukRadios({
        idPrefix: "confirm-reference",
        name: "confirm-reference",
        fieldset: {
        legend: {
          isPageHeading: true,
          text: heading,
          classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          html: hintHtml
        },
        items: [
          {
            value: "yes",
            text: __p('paymentLinks.referenceConfirm.yesThisIsCorrect'),
            attributes: {'data-cy': 'yes-radio'}
          },
          {
            value: "no",
            text: __p('paymentLinks.referenceConfirm.noItIsIncorrect'),
            attributes: {'data-cy': 'no-radio'}
          }
        ],
        errorMessage: radioErrorMessage
        })
      }}

      {{ govukButton({
        text: __p('buttons.continue'),
        attributes: {
          'data-cy': 'button'
        }
      }) }} 
    </form>
  </div>  
</div>
{% endblock %}
