{% extends "../../views/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "../../views/macros/error-summary.njk" import errorSummary %}

{% block pageTitle %}
  {{ __p('paymentLinks.reference.pleaseEnterYour') }} {{product.reference_label}}  - {{ productName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: __p('paymentLinks.common.back'),
    href: backLinkHref,
    attributes: {
      'data-cy': 'back-link'
    }
  }) }}
{% endblock %}

{% block contentBody %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ errorSummary ({
      titleText: __p("paymentLinks.common.thereIsAProblem"),
      errors: errors,
      hrefs: {
        'payment-reference': '#payment-reference'
      }
    }) }}

    <form method="post">
      <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>

      {{ govukInput({
        id: "payment-reference",
        name: "payment-reference",
        errorMessage: { 
          text: errors['payment-reference'], 
          attributes: {
            'data-cy': 'error-message'
          }
        } if errors['payment-reference'] else false,
        label: {
          text: __p('paymentLinks.reference.pleaseEnterYour') + ' ' + product.reference_label,
          classes: "govuk-label--l",
          isPageHeading: true,
          attributes: {
            'data-cy': 'label'
          }
        },
        hint: {
          html: product.reference_hint | striptags(true) | escape | nl2br if product.reference_hint else false
        },
        value: reference,
        spellcheck: false,
        attributes: {
          'autocapitalize': 'none',
          'data-cy': 'input'
        }
      }) }}
      
      {{ govukButton({
        text: __p('buttons.continue'),
        attributes: {
          'data-cy': 'button'
        }
      }) }}
    </form>
  </div>
</div>
{% endblock %}
