{% extends "../../views/layout-payment-links-v2.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "../../views/macros/error-summary.njk" import errorSummary %}

{% block pageTitle %}
  {{ __p('paymentLinksV2.reference.pleaseEnterYour') }} {{product.reference_label}}  - {{ productName }}
{% endblock %}

{% block contentBody %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukBackLink({
      text: "Back",
      href: backLinkHref
    }) }}

    {{ errorSummary ({
      errors: errors,
      hrefs: {
        'payment-reference': '#payment-reference'
      }
    }) }}

    <form method="post">
      <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>

      {{ govukInput({
        id: "payment-reference",
        name: "payment-reference",
        errorMessage: { text: errors['payment-reference']} if errors['payment-reference'] else false,
        label: {
          text: __p('paymentLinksV2.reference.pleaseEnterYour') + ' ' + product.reference_label,
          classes: "govuk-label--l",
          isPageHeading: true
        },
        hint: {
          text: product.reference_hint
        },
        value: reference,
        classes: "govuk-input--width-21",
        spellcheck: false
      }) }}
      
      {{ govukButton({
        text: __p('buttons.continue')
      }) }}
    </form>
  </div>
</div>
{% endblock %}
