{% extends "./layout-payment-links-v2.njk" %}

{% block pageTitle %}
  {{ __p('404Page.title') }} - GOV.UK Pay
{% endblock %}

{% block contentBody %}
    <h1 class="govuk-heading-l">{{ __p('404Page.title') }}</h1>
    <p class="govuk-body">{{ __p('404Page.bodyText') }}</p>
{% endblock %}
