{% extends "./layout-payment-links-v2.njk" %}

{% block pageTitle %}
  Page not found - GOV.UK Pay
{% endblock %}

{% block contentBody %}
    <h1 class="govuk-heading-l">Page not found</h1>
    <p class="govuk-body">Sorry, we could not find the page you were looking for.</p>
{% endblock %}
