{% extends "./layout-payment-links-v2.njk" %}

{% block pageTitle %}
  {{ __p('error.title') }} - GOV.UK Pay
{% endblock %}

{% block contentBody %}
    <h1 class="govuk-heading-l">{{ __p('error.title') }}</h1>
    <p class="govuk-body">{{ __p('error.default')}}</p>
{% endblock %}
