{% extends "layout.njk" %}

{% block pageTitle %}An error occurred - GOV.UK Pay{% endblock %}

{% block contentBody %}
  <h1 class="govuk-heading-l">An error occurred:</h1>

  <div id="errorMsg" class="govuk-body">{{message}}</div>
{% endblock %}
