{% extends "layout.njk" %}

{% block page_title %}An error occurred - GOV.UK Pay{% endblock %}

{% block main_content %}
  <h1 class="page-title">An error occurred:</h1>

  <div id="errorMsg">{{message}}</div>
{% endblock %}
