{% extends "govuk/template.njk" %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% set htmlLang = language %}

{% block pageTitle %}
  GOV.UK Pay
{% endblock %}

{% block head %}
  {% include "includes/head.njk" %}
{% endblock %}

{% if service and service.customBranding and service.customBranding.cssUrl %}
  {% set bodyClasses = "custom-branding" %}
{% endif %}

{% set serviceName = service.serviceName[language] %}

{% if not serviceName %}
  {% set serviceName = service.serviceName.en %}
{% endif %}

{% set headerText = product.name if product and product.type === 'ADHOC' else serviceName %}

{% block header %}
  {% if service and service.customBranding and service.customBranding.cssUrl %}
    {% include "includes/custom.njk" %}
  {% else %}
    {{ govukHeader({
      serviceName: headerText,
      attributes : {
        'data-cy': 'header'
      }
    }) }}
  {% endif %}
  {% if product.isTestPaymentLink === true %}
    <div class="govuk-width-container">
      {{ govukPhaseBanner({
        tag: {
          text: "Test service"
        },
        html: 'This is a test payment service.'
      }) }}
    </div>
  {% endif %}
{% endblock %}

{% block beforeContent %}
  <div class="products-ui--before-content">
    {% block beforeContentBody %}
    {% endblock %}
  </div>
{% endblock %}

{% block content %}
  {% include "includes/flash.njk" %}
  {% include "includes/test-payment-notification-banner.njk" %}
  {% block contentBody %}
  {% endblock %}
{% endblock %}

{% block footer %}
  {% if service and service.merchantDetails and service.merchantDetails.name %}
    {% set footerMetaText = 'Service provided by ' + service.merchantDetails.name %}

    {% if service.merchantDetails.addressLine1 %}
      {% set footerMetaText = footerMetaText + ', ' + service.merchantDetails.addressLine1 %}
    {% endif %}

    {% if service.merchantDetails.addressLine2 %}
      {% set footerMetaText = footerMetaText + ', ' + service.merchantDetails.addressLine2 %}
    {% endif %}

    {% if service.merchantDetails.city %}
      {% set footerMetaText = footerMetaText + ', ' + service.merchantDetails.city %}
    {% endif %}

    {% if service.merchantDetails.postcode %}
      {% set footerMetaText = footerMetaText + ', ' + service.merchantDetails.postcode %}
    {% endif %}

    {% if service.merchantDetails.country %}
      {% set footerMetaText = footerMetaText + ', ' + service.merchantDetails.country %}
    {% endif %}

  {% else %}
    {% set footerMetaText = '' %}
  {% endif %}

  {{ govukFooter({
    meta: {
      items: [
        {
          text: 'Privacy notice',
          href: 'https://www.payments.service.gov.uk/privacy'
        },
        {
          text: 'reCAPTCHA notice',
          href: 'https://www.payments.service.gov.uk/recaptcha-notice'
        },
        {
          text: 'Cookies',
          href: 'https://www.payments.service.gov.uk/cookies'
        },
        {
          text: 'Accessibility statement',
          href: 'https://www.payments.service.gov.uk/accessibility-statement/'
        }
      ],
      text: footerMetaText
    },
    attributes : {
      'data-cy': 'footer'
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  {% include "includes/scripts.njk" %}
{% endblock %}
