{% extends "template.njk" %}

{% block pageTitle %}
  GOV.UK Pay
{% endblock %}

{% block head %}
  {% include "includes/head.njk" %}
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: 'https://www.gov.uk',
    serviceName: serviceName,
    serviceUrl: '/'
  }) }}
{% endblock %}

{% block content %}
  {% include "includes/flash.njk" %}
  {% block contentBody %}
  {% endblock %}
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          text: 'Privacy Policy',
          href: 'https://www.payments.service.gov.uk/privacy'
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  {% include "includes/scripts.njk" %}
{% endblock %}
