{% extends "../../govuk_modules/govuk_template/views/layouts/govuk_template.njk" %}

{% set homepage_url = '/' %}
{% set global_header_text = 'GOV.UK <span>Pay <strong class="phase-tag">Beta</strong></span>' | safe %}

{% block page_title %}GOV.UK Pay{% endblock %}

{% block head %}
    {% include "includes/head.njk" %}
{% endblock %}

{% block cookie_message %}
    {% include "includes/cookies.njk" %}
{% endblock %}

{% block proposition_header %}
    {% include "includes/propositional_navigation.njk" %}
{% endblock %}
{% block header_class %}with-proposition{% endblock %}

{% block content %}
  <main id="content" class="pad-bottom" role="main">
      {% block full_width_content %}{% endblock %}
    <div class="grid-row">
      <div class="column-two-thirds">
          {% block main_content %}{% endblock %}
      </div>
    </div>
  </main>
{% endblock %}

{% block footer_top %}
    {% include "includes/footer-categories.njk" %}
{% endblock %}

{% block footer_support_links %}
    {% include "includes/footer-support-links.njk" %}
{% endblock %}

{% block body_end %}
  {% include "includes/scripts.njk" %}
{% endblock %}
