{% extends "layout.njk" %}

{% block pageTitle %}{{ __p(title) }} - GOV.UK Pay{% endblock %}

{% block contentBody %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ __p(title) }}</h1>
      <div id="errorMsg" class="govuk-body" data-cy="error-message">{{ __p(messagePreamble) }}</div>
      <div id="errorMsg" class="govuk-body" data-cy="error-message">{{ __p(message) }}</div> 
    </div>
  </div>
{% endblock %}
