{% extends "../../views/layout-payment-links-v2.njk" %}

{% block pageTitle %}
  Confirm  - {{ productName }}
{% endblock %}

{% block contentBody %}
  <p class="govuk-body">Confirm page placeholder text</p>
{% endblock %}
